[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "gasper"]
	path = gasper
	url = https://github.com/fabnavarro/gasper
[submodule "rwavelet"]
	path = rwavelet
	url = https://github.com/fabnavarro/rwavelet
